.banner {

  background-color: $hztl-dark;
  position: relative;

  h1 {
    font-size: 1.5rem
  }

}

.banner-main {

  .banner-content {
    padding-left: 40px;
    padding-right: 40px;
  }

  &-image {
    max-width: 840px;
    margin:0 auto 34px;

  }


}

.flex-content {
  display:flex;
  align-items: center;
}

.cta-banner {

  overflow: hidden;

  .banner-img {
    position: absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    object-fit: cover;
  }
  .banner-content {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.ebook-banner {
  .banner-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.ebook-img {
  max-width: 30%;
  margin-left:25px;
  margin-right:25px;
}

@media (min-width: 768px) {
  .cta-banner {
    .banner-content {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  .ebook-banner {
    .banner-content {
      position: relative;
      padding-top: 90px;
      padding-bottom: 90px;
    }
  }
  .banner-main {
    padding:40px 0;
    &-headline {
      text-align:center;
    }
  }
  .ebook-img {
    max-width: 75%;
  }
}

@media (min-width: 1200px) {
  .ebook-img {
    max-width: 100%;
    margin-right: 0;
  }
}
