html {
  background-color: $hztl-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $hztl-lite;
  font-family: $hztl-font-regular;
  font-size: 18px;
  line-height: 28px;
}

h1, h2, h3 {
  font-family: $hztl-font-black;
}

h4 {
  font-family: $hztl-font-bold;
  font-size:14px;
  margin: 28px 0 8px;
}

strong {
  font-family: $hztl-font-black;
}

span.unstrong {
  font-family: $hztl-font-regular
}

.section-title {
  font-family: $hztl-font-black;
  font-size: 36px;
  line-height: 1;
  margin-bottom: .5em;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 50px;
  }
}

.with-eyebrow {
  position: relative;
  padding: 40px 0 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 72px;
    background: $hztl-dark;
  }
}

.section-subhead {
  font-size:24px;
  line-height: 28px;
  margin-bottom: 7px;
}

.btn-hztl {
  background-color: $hztl-teal;
  font-family: $hztl-font-black;
  font-size: 14px;
  color: $hztl-dark !important;
  border-radius: 0;
  margin: 32px 0 0;
  padding: 0.5rem 1.5rem;
  &:after {
    font-family: "hiIcon";
    content: "\E003";
    line-height: 14px;
    padding-top: 7px;
    font-weight: bold;
    font-size: 10px;
    margin-left: 6px;
    position: relative;
    top:1px
  }
  &:hover {
    background-color: $hztl-teal-hover;
  }
}

.with-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  &:before {
    content:"";
    position: absolute;
    top: 90%;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: $hztl-dark;
    transition: $hztl-anim;
  }
  &:hover {
    text-decoration: none;
    &:before {
      width: calc(100% - 22px);
    }
  }
}

.container {
  padding:0;
}

.container-mid {
  padding: 0 40px;
  margin: 0 auto;
}

.container-narrow {
  padding: 0 40px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container, .container-narrow {
    max-width: 720px;
  }
  .container-mid {
    padding:0;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container, .container-narrow {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-narrow {
    padding: 0;
  }
  .container {
    max-width: 1440px;
  }
  .container-mid {
    max-width: 1260px;
  }
}

.simple-centered-container {
  padding: 24px 6%;
  text-align: center;
  .section-title {
    margin-top: 18px;
    margin-bottom: 2px;
  }
}

@media (min-width: 768px) {
  .simple-centered-container {
    padding: 24px 16%;
  }
}



.theme-dark {
  background-color: $hztl-dark;
  color: $hztl-lite;

  a {
    color: $hztl-lite;
  }

  .section-title::before {
    background: $hztl-lite;
  }

}
