.simple-header {

}

.site-nav {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo-main {
  display:block;
  svg {
    height: auto;
    max-width: 120px;
    vertical-align: middle;
    g {
      > polygon,
      > path {
        fill: $hztl-dark;
      }
    }
  }
}

.theme-dark {

  .logo-main {
    svg {
      g {
        > polygon,
        > path {
          fill: $hztl-lite;
        }
      }
    }
  }

}
