// Theme: Hi-Redesign
// File: _icons.scss
// ---------------------------------------

// Notes:
// Brand themes do not inherit these styles and utilize their own styles. These styles are for use in this base theme only. Do not remove any styles below. Add or modify only.

@font-face {
	font-family: "hiIcon";
	src: url('{{asset.url}}/fonts/Icons/hiIcon.eot');
	src: url('{{asset.url}}/fonts/Icons/hiIcon.eot?#iefix') format('eot'),
		url('{{asset.url}}/fonts/Icons/hiIcon.woff2') format('woff2'),
		url('{{asset.url}}/fonts/Icons/hiIcon.woff') format('woff'),
		url('{{asset.url}}/fonts/Icons/hiIcon.ttf') format('truetype'),
		url('{{asset.url}}/fonts/Icons/hiIcon.svg#hiIcon') format('svg');
}

@mixin icon-styles {
	font-family: "hiIcon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == insights {
		$char: "\E001";
	}
	@if $filename == news {
		$char: "\E002";
	}
	@if $filename == right-arrow {
		$char: "\E003";
	}
	@if $filename == share {
		$char: "\E004";
	}
	@if $filename == work {
		$char: "\E005";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-insights {
	@include icon(insights);
}
.icon-news {
	@include icon(news);
}
.icon-right-arrow {
	@include icon(right-arrow);
}
.icon-share {
	@include icon(share);
}
.icon-work {
	@include icon(work);
}
