.icon-snowflake {
}

.px-md-normal {
  padding-left: 4px;
  padding-right: 4px;
}

.hztl-gift {

  max-width: 80px;
  margin: 0 auto 60px;

  &-box-top {
    max-width: 80px;
    height: 16px;
    background-color: $hztl-lite;
  }

  &-box {
    margin: 4px;
    padding: 5px;
    max-width: 200px;
    min-height: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $hztl-lite;
    color:$hztl-dark;
    font-family: $hztl-font-black;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    position: relative;

    > span {
      position: relative;
      z-index: 10;
    }

    .hztl-donation {
      display: block;
      background-color: $hztl-teal;
      position: absolute;
      width: 100%;
      height: 0%;
      bottom:0;right:0;
    }
  }

}

@media (min-width: 768px) {
  .px-md-normal {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hztl-gift {
    max-width: 220px;
    margin: 0 auto 60px;

    &-box-top {
      max-width: 220px;
      height: 40px;
    }

    &-box {
      margin: 10px;
      padding: 10px;
      max-width: 200px;
      height: 110px;
      font-size: 24px;
    }

  }
}

.hztl-gift-description  {

  margin: 20px 0;

  h2 {
    margin-bottom: 6px;
    font-size:36px;
  }

  a {
    text-decoration: underline;
  }
}

.hztl-cares-banner {
  margin: 80px 0;
  .section-title {
    margin-bottom: .35em;
  }
  .col-md-3 {
    text-align: center;
    .img-fluid {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 768px) {
  .hztl-cares-banner {
    .col-md-3 {
      text-align: left;
      .img-fluid {
        margin-bottom: 0;
      }
    }
  }
}

.hztl-cares-promo {

  margin: 80px 0;

  .section-title {
    font-size:32px;
    line-height: 1;
  }
  .col-md-6:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .hztl-cares-promo {

    .section-title {
      font-size:36px;
    }

  }
  .hztl-cares-promo:nth-of-type(odd) {
    .col-md-6:nth-child(2) {
      order: -1;
    }
  }
}

.hztl-cares-img {
  max-width: 460px;
  margin-bottom: 40px;
}

.hztl-heart {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.hztl-cares-promo {
  .hztl-heart {
    > svg {
      max-width: calc(100% + 2px);
      max-height: calc(100% + 2px);

      > .heart {
        fill:$hztl-peach;
      }
      > .circle {
        fill:transparent;
      }
    }
  }
}

.hztl-cares-promo:nth-child(2) {
  .hztl-heart {
    > svg  > .heart {
      fill:$hztl-turquoise;
    }
  }
}

.hztl-cares-promo:nth-child(3) {
  .hztl-heart {
    > svg  > .heart {
      fill:$hztl-teal;
    }
  }
}

.hztl-cares-promo:nth-child(4) {
  .hztl-heart {
    > svg  > .heart {
      fill:$hztl-green;
    }
  }
}

.hztl-cares-promo:nth-child(6) {
  .hztl-heart {
    > svg  > .heart {
      fill:$hztl-turquoise;
    }
  }
}

.holiday-trees {
  height:285px;
  background: transparent url('{{asset.url}}/img/holiday/Trees.svg') repeat-x bottom;
}

footer {
  margin-top:60px;
  color:$hztl-dark;

  .holiday-trees {
    height:385px;
  }
}
