.snowfall {
  overflow: hidden;
  position: relative;

  .container-narrow {
     position:relative;
     z-index:9999;
  }

  .snowflake {
    content:url('{{asset.url}}/img/holiday/Snowflake.svg');
    position: absolute;
    animation: spin 8000ms infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        top:110%;
        padding-left:120px;
    }
}
