.stars {
  overflow: hidden;
  position: relative;

  .container-narrow {
     position:relative;
     z-index:9999;
  }

  .star {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $hztl-lite;
    transform: rotate(45deg);
    opacity:0;
    animation: twinkle 3s infinite;
  }
}

@keyframes twinkle {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}
