.hztl-video {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hztl-video-player {

}

.btn-play-video {
  border-radius: 50%;
  border-color: transparent;
  background-color: $hztl-lite;
  width:100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: $hztl-font-black;
  font-size: 20px;
  transition: $hztl-anim;

  &:hover {
    background-color: $hztl-lt-hover;
  }
}

@media (min-width: 768px) {
  .hztl-video {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
