$hztl-base: #393738;
$hztl-dark: #2f2d2e;
$hztl-lt-g: #f9f9f9;
$hztl-lt-hover: #cfcdc8;
$hztl-lt-hover-alt: #EFEEE7;
$hztl-lite: #fff;
$hztl-peach: #EC8066;
$hztl-turquoise: #065264;
$hztl-teal: #7fc3ba;
$hztl-green: #2E4E40;
$hztl-teal-hover: #6BA69E;
$hztl-font-regular: "ModernEra-Regular";
$hztl-font-bold: "ModernEra-Bold";
$hztl-font-black: "ModernEra-Black";

$hztl-anim: all .2s 0s ease-in-out;

$body-bg: $hztl-lite;
$body-color: $hztl-dark;
$link-color: $hztl-dark;
$link-hover-color: $hztl-dark;

@import "bootstrap";
@import "fonts";
//@import "fa";
@import "hi-icon";

@import "base";
@import "header";
@import "footer";

@import "banner";
@import "sessions";
@import "video";

@import "holiday";
@import "stars";
@import "snowfall";
