<section class="container theme-dark">
  <div class="banner banner-main cta-banner">
    <img src="@@bg" class="banner-img" alt="background image">
    <div class="banner-content">
      <div>
        <div class="banner-main-image">
          <img src="@@img.src" srcset="@@img.srcset" sizes="@@img.sizes" class="img-fluid" alt="@@img.alt">
        </div>
        <h1 class="banner-main-headline">@@headline</h1>
      </div>
    </div>
  </div>
</section>
