<section class="container hztl-video">
  <div class="container-narrow">
    <h2 class="section-title with-eyebrow">@@headline</h2>
  </div>
  <div class="container-mid">
    <div class="hztl-video-player embed-responsive embed-responsive-16by9">
      <img class="hztl-video-poster embed-responsive-item" src="@@vimeo.poster" alt="@@vimeo.alt">
      <button class="btn-play-video" data-video-id="@@vimeo.id">Play</button>
    </div>
  </div>
</section>
