<section class="container theme-dark">
  <div class="banner cta-banner">
    @@if (context.bg) {
      <img data-src="@@bg.src" class="banner-img lazy-img" alt="@@bg.alt">
    }
    <div class="banner-content container-narrow">
      <div class="row">
        <div class="col-md-8">
          <h2 class="section-title with-eyebrow">@@headline</h2>
          <h3 class="section-subhead">@@subhead</h3>
          <p>@@text</p>
          <a class="btn btn-hztl" href="@@link.url">@@link.text</a>
        </div>
      </div>
    </div>
  </div>
</section>
