<section class="container theme-dark">
  <div class="banner cta-banner ebook-banner">
    <div class="banner-content container-narrow">
      <div class="row">
        <div class="col-md-4 order-md-last mb-4 mb-md-0 px-0">
          <img data-src="@@img.src" class="img-fluid ebook-img lazy-img" alt="@@img.alt">
        </div>
        <div class="col-md-8 order-md-first flex-content">
          <div>
            <h2 class="section-title">@@headline</h2>
            <p>@@text</p>
            <a class="btn btn-hztl" href="@@link.url">@@link.text</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
