<footer>

  @@include('holiday-trees.html')

  <div style="background:#fff;padding-top:15px;">
  <div id="footer" class="container-narrow">
    <div class="row">
      <div class="col-12 col-md-9">
        <a class="footer-logo" title="Horizontal Logo" href="https://horizontaldigital.com"><img src="{{asset.url}}/img/H-Bug_dark.png" alt="Horizontal Logo" width="59" height="38"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 order-md-last">
        <ul class="social-links list-inline">
          <li class="list-inline-item"><a href="https://www.linkedin.com/company/30574460/" class="fab fa-linkedin-in"><span class="sr-only">LinkedIn</span></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/hztldigital/" class="fab fa-instagram"><span class="sr-only">Instagram</span></a></li>
          <li class="list-inline-item"><a href="https://vimeo.com/horizontalinc" class="fab fa-vimeo-v"><span class="sr-only">Vimeo</span></a></li>
      </div>
      <div class="col-12 col-md-9 order-md-first">
        <p><small>&copy; Horizontal Digital 2020</small></p>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-cta-banner">
    <span><strong>Visit us at <a href="https://www.horizontal.com/">Horizontal.com</a></strong></span>
  </div>
</footer>
