<section class="theme-dark stars snowfall">

  @@include('simple-header.html')

  <div class="container-narrow">

    <div class="simple-centered-container">
      <span class="icon-snowflake">
        <img src="{{asset.url}}/img/holiday/snowflake_teal.svg" alt="Snowflake">
      </span>
      <h1 class="section-title">Thanks for helping us build a brighter 2021</h1>
      <p>Check out the results and learn more about our three non-profit partners.</p>
    </div>

    <div class="row">
    @@loop('holiday-gift.html', 'data/holiday-2020/non-profits.json')
    </div>

    <div class="row">
    @@loop('holiday-gift-description.html', 'data/holiday-2020/non-profits.json')
    </div>

  </div>

  @@include('holiday-trees.html')

</section>
