<div class="col-4 px-md-normal">
  <div class="hztl-gift @@npid" data-np="@@npid">
    <img src="@@img.src" alt="Gift Box for @@title" class="img-fluid">
    <div class="hztl-gift-box-top"></div>
    <div class="hztl-gift-box">
      <div class="hztl-donation"></div>
      <span>@@title</span>
    </div>
  </div>
</div>
