<section class="container">

  <div class="container-narrow">

    <div class="hztl-cares-banner">
      <div class="row">

        <div class="col-md-3">
          <img src="{{asset.url}}/img/holiday/HZTL_Cares.svg" class="img-fluid" alt="Horizontal Cares">
        </div>

        <div class="col-md-9">
          <h2 class="section-title">Horizontal Cares</h2>
          <p>As a certified minority-owned business, Horizontal has a heart for diversity and equality. In fact, one of our corporate tentpoles is to serve our communities for the greater good. This year, as the COVID crisis flipped the world on its head, we established the Horizontal Cares program to support frontline workers, senior citizens and underprivileged families in our community.</p>
          <p><strong>Here are several of our 2020 efforts:</strong></p>
        </div>

      </div>
    </div>

    <div>
      @@loop('holiday-hztl-cares-efforts.html', 'data/holiday-2020/hztl-cares.json')
    </div>

  </div>

</section>
