<div class="hztl-cares-promo">
  <div class="row">
    <div class="col-md-6">
      <div class="hztl-cares-img">
        <div class="embed-responsive embed-responsive-1by1">

          <div class="embed-responsive-item">
            <img class="img-fluid lazy-img" src="@@img.src" alt="@@img.alt">
          </div>

          <div class="hztl-heart" data-id="@@id"></div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="section-title">@@title</h3>
    </div>
  </div>
</div>
