<meta property="og:type" content="website">
<meta property="og:title" content="%%title%%">
<meta property="og:description" content="%%description%%">
<meta property="og:image" content="@@socialimage">
<meta property="og:url" content="%%thisurl%%">
<meta property="og:site_name" content="Horizontal Digital">

<meta name="twitter:title" content="%%title%%">
<meta name="twitter:description" content="%%description%%">
<meta name="twitter:image" content="@@socialimage">
<meta name="twitter:site" content="@HztlDigital">
<meta name="twitter:creator" content="@HztlDigital">
