<link rel="preload" href="{{asset.url}}/fonts/Icons/hiIcon.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{asset.url}}/fonts/ModernEra/ModernEra-Black-woff2.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{asset.url}}/fonts/ModernEra/ModernEra-Bold-woff2.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{asset.url}}/fonts/ModernEra/ModernEra-Regular-woff2.woff2" as="font" type="font/woff2" crossorigin>
