<section class="container">
  <div class="container-narrow hztl-sessions">
    <h2 class="section-title with-eyebrow">Our speaker sessions</h2>

    @@loop('session.html', 'data/symposium-2020/sessions.json')

  </div>
</section>
