<div class="hztl-session">
  <div class="row">
    <div class="col-md-3">
      <div class="hztl-session-date">
        @@if (context.date.day) { <span>@@date.day,</span> }
        @@if (context.date.month) { <span>@@date.month</span> }
        @@if (context.date.time) { <span class="hztl-session-time">@@date.time</span> }
      </div>
      @@if (context.calendar) {
      <div title="Add to Calendar" class="add-to-calendar">
        <span class="start">@@calendar.start</span>
        <span class="timezone">@@calendar.timezone</span>
        <span class="end">@@calendar.end</span>
        <!--span class="duration">@@calendar.duration</span-->
        <!--span class="allday">@@calendar.allday</span-->
        <span class="title">@@headline</span>
        <span class="description">@@description</span>
        <span class="location">@@calendar.location</span>
      </div>
      }
    </div>
    <div class="col-md-9">
      <h3 class="hztl-session-headline">@@headline</h3>
      <p>@@description</p>

        @@if (context.speakers.length > 0) {
          <h4>Speakers:</h4>
          @@for(var i = 0; i < context.speakers.length; i++) {
            @@include('speaker.html', `+(JSON.stringify(context.speakers[i]))+`)
          }
        }
    </div>
  </div>
</div>
