<div class="hztl-session-speaker clearfix">
  @@if (context.img) {
    <img data-src="@@img.src" class="hztl-speaker-img lazy-img" alt="@@name">
  }
  <div class="hztl-speaker">
    <div class="hztl-speaker-name">@@name</div>
    <div class="hztl-speaker-title">@@title</div>
    @@if (context.link) {
      <a href="@@link.url" class="hztl-speaker-link with-underline">@@link.text</a>
    }
  </div>
</div>
