<!doctype html>
<html lang="en" class="js-inlinesvg">
  <head>
    <link rel="shortcut icon" type="image/png" href="{{asset.url}}/img/favicon.ico">
    <base href="https://e.horizontal.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="%%description%%">

    @@include('partials/preload.html')

    @@loop('partials/og.html', 'data/holiday-2020/og.json')

    <link rel="stylesheet" href="{{asset.url}}/css/style.css">
    <title>%%title%%</title>

    @@include('partials/gtm.html')

  </head>
  <body>

    @@include('partials/gtm-noscript.html')

    @@include('partials/holiday-non-profit.html')

    @@include('partials/holiday-hztl-cares.html')

    @@include('partials/holiday-footer.html')

    <script src="{{asset.url}}/js/main.js"></script>

    @@loop('partials/pardot.html', 'data/holiday-2020/pardot.json')

  </body>
</html>
