<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{{asset.url}}/img/favicon.ico">
    <base href="https://e.horizontal.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @@include('partials/preload.html')

    <link rel="stylesheet" href="{{asset.url}}/css/style.css">
    <title>HZTL :: Landinig Pages</title>

  </head>
  <body>

    <script src="{{asset.url}}/js/main.js"></script>

  </body>
</html>
