<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="{{asset.url}}/img/favicon.ico">
    <base href="https://e.horizontal.com">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="%%description%%">

    @@include('partials/preload.html')

    @@loop('partials/og.html', 'data/symposium-2020/og.json')

    <link rel="stylesheet" href="{{asset.url}}/css/style.css">
    <title>%%title%%</title>

    @@include('partials/gtm.html')

  </head>
  <body>

    @@include('partials/gtm-noscript.html')

    @@loop('partials/banner.html', 'data/symposium-2020/banner-main.json')

    @@include('partials/sessions.html')

    @@loop('partials/cta-banner.html', 'data/symposium-2020/cta-banner-chicago.json')

    @@loop('partials/cta-video.html', 'data/symposium-2020/cta-video.json')

    @@loop('partials/cta-ebook.html', 'data/symposium-2020/cta-ebook.json')

    @@loop('partials/cta-banner.html', 'data/symposium-2020/cta-banner-meet.json')

    <script src="{{asset.url}}/js/main.js"></script>

    @@loop('partials/pardot.html', 'data/symposium-2020/pardot.json')

  </body>
</html>
